<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value="LcEGpecA6NONZTg7dXPoNiRwz"/>
    <add key="ConsumerSecret" value="n0WnhprYUTBFexZl3xUG4tqa5AHgccqxGawtrh3m9D9YSdvrn9"/>
    <add key="ApiToken" value="826956744962174976-BIBQPRIY2UewtaJXIhEZudLVAqDute0"/>
    <add key="ApiTokenSecret" value="J61blvOP4uyDTRzJifMKOdju4MTYdMD7JwOhfib4gF1zk"/>
    <add key="StopWordFile" value="stopList.txt"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>